/* Solar Assistant Clone - Exact Match CSS */

/* Base styles */
body {
    margin: 0;
    background-color: #f8f8f8;
    color: #464c54;
    font-family: 'Exo', sans-serif;
    text-rendering: optimizeLegibility;
    letter-spacing: .7px;
    font-size: 12pt;
    line-height: 1.7;
}

/* Header */
.header {
    border-top: 5px solid #000;
    background: #fbd44a;
    background: linear-gradient(90deg, #fbd44a, #f1852b);
}

.header .container {
    box-sizing: border-box;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.header .container .logo {
    background-image: url(/static/images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: auto;
    height: 45px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.header .container .menu {
    display: flex;
    background-color: transparent;
}

.header .container .menu .menu-item {
    margin-left: .3em;
    color: #29334a;
    font-weight: 500;
    text-decoration: none;
    padding: 15px 20px;
    background-color: hsla(0,0%,97.3%,.22);
    border-radius: 3px 3px 0 0;
}

.header .container .menu .menu-item:first-child {
    margin-left: 0;
}

.header .container .menu .menu-item .item-img {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

.header .container .menu .menu-item .item-caption {
    margin-left: 5px;
    vertical-align: middle;
}

.header .container .menu .menu-item.active {
    background-color: #f8f8f8;
    border-radius: 3px 3px 0 0;
}

/* Main content */
.main .content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 0;
}

/* Flex grid */
.flex-grid {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    gap: 4px;
}

.flex-grid .card {
    flex: 1 0 calc(33.33333% - 4px);
    margin-bottom: 0;
}

/* Cards */
.card {
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #efefef;
    border-radius: 3px;
    margin-bottom: .5em;
}

.card .card-section {
    padding: 40px;
}

.card .card-section:not(:first-child) {
    border-top: 1px solid #efefef;
}

/* Dashboard specific */
.dashboard .dashboard-gauges,
.dashboard .dashboard-info {
    justify-content: space-evenly;
    padding: 0 8px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.half {
    flex-basis: 50%;
}

/* Status */
.status, a.status, a.status:visited {
    display: flex;
    width: 16em;
    margin: 2em auto;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #464c54;
}

.status > img {
    width: 80px;
    height: 80px;
    flex: none;
    padding: 15px;
    border: 2px solid #efefef;
    box-shadow: 5px 5px 10px -10px rgba(0,0,0,.05);
    border-radius: 3px;
    background: linear-gradient(90deg, #fff, #f7f7f7);
}

.status > div {
    width: calc(100% - 68px);
    margin-left: 1.5em;
}

.status > div .label {
    display: flex;
    font-weight: 700;
}

.status > div .value {
    display: flex;
    align-items: center;
    line-height: 1.4em;
}

.status > div .value.small {
    font-size: .9em;
}

/* Gauge styles - CRITICAL */
.gauge {
    position: relative;
    width: 11.5em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
    padding-bottom: 2em;
}

.gauge .mask {
    display: block;
    position: relative;
    overflow: hidden;
    width: 11.5em;
    height: 5.75em;
}

.gauge .semi-circle {
    position: relative;
    display: block;
    margin: 1px 1px 0;
    width: calc(11.5em - 2px);
    height: calc(5.75em - 1px);
    border-radius: 50% 50% 50% 50%/100% 100% 0 0;
}

.gauge .semi-circle.red {
    background: linear-gradient(-75deg, #ffa200, red, #ff664d, red);
    background-size: 400% 400%;
    animation: animated-gradient 5s ease infinite;
}

.gauge .semi-circle.blue {
    background: linear-gradient(-45deg, #00b7ff, #001aff, #6588e8, #0048ff);
    background-size: 400% 400%;
    animation: animated-gradient 5s ease infinite;
}

.gauge .semi-circle.yellow {
    background: linear-gradient(-120deg, #fff900, #ffb100, #ffe500, #ffe396);
    background-size: 400% 400%;
    animation: animated-gradient 10s ease infinite;
}

.gauge .semi-circle.green {
    background: linear-gradient(120deg, #3bff29, #3e9e00, #00ff0f, #92ff7f);
    background-size: 400% 400%;
    animation: animated-gradient 3s ease infinite;
}

.gauge .semi-circle:before {
    display: block;
    position: absolute;
    bottom: -2px;
    content: "";
    left: 50%;
    z-index: 2;
    width: 8.5em;
    height: 4.25em;
    margin-left: -4.25em;
    background: #fff;
    border-radius: 50% 50% 50% 50%/100% 100% 0 0;
}

.gauge .semi-circle--mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 11.5em;
    height: 11.5em;
    background: transparent;
    transform: rotate(0deg);
    transform-origin: center center;
    backface-visibility: hidden;
    transition: all .3s ease-in-out;
}

.gauge .semi-circle--mask:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    width: 11.5em;
    height: 5.75em;
    background: #efefef;
    border-radius: 50% 50% 50% 50%/100% 100% 0 0;
}

.gauge .value {
    position: absolute;
    bottom: 3.5em;
    width: 11.5em;
    text-align: center;
    font-weight: 700;
    z-index: 3;
}

.gauge .label {
    position: absolute;
    bottom: 2em;
    width: 11.5em;
    text-align: center;
    font-size: 1em;
    z-index: 3;
}

@keyframes animated-gradient {
    0% { background-position: 0 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0 50% }
}

/* Battery change indicators */
.dashboard .battery-change {
    font-size: 9pt;
    font-weight: 500;
}

.dashboard .battery-change.negative:before {
    position: absolute;
    margin-left: -.6em;
    content: "-";
}

.dashboard .battery-change.positive:before {
    position: absolute;
    margin-left: -.7em;
    content: "+";
}

/* Colors */
span.positive { color: #5ebb87; }
span.negative { color: #f9584b; }

/* Font sizes */
.font-small { font-size: 10pt; }

/* Iframe styles */
.dashboard .card .iframe-overview {
    display: block;
    height: 100%;
    min-height: 22em;
    border: 0;
    width: 100%;
}

.dashboard .card .iframe-battery-power {
    display: block;
    height: 60%;
    min-height: 18em;
    border: 0;
    width: 100%;
}

.dashboard .card .iframe-battery-soc {
    display: block;
    height: 40%;
    min-height: 14em;
    border: 0;
    width: 100%;
}

/* Responsive */
@media only screen and (max-width: 128em) {
    .flex-grid .card {
        flex-basis: calc(50% - 4px);
    }
}

@media only screen and (max-width: 96em) {
    .header .container .logo {
        margin-top: 25px;
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 78em) {
    .header .container {
        width: 95%;
    }
    .header .container .logo {
        height: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .main .content {
        padding: 30px 0;
        width: 95%;
    }
    .status, a.status, a.status:visited {
        width: 14em;
    }
    .status > img {
        width: 65px;
        height: 65px;
        padding: 12px;
    }
    .status > div {
        margin-left: .5em;
    }
    .card .card-section {
        padding: 30px;
    }
    .flex-grid {
        gap: 0;
    }
    .dashboard .battery-change.negative:before {
        margin-left: -.4em;
    }
    .dashboard .battery-change.positive:before {
        margin-left: -.5em;
    }
}

@media only screen and (max-width: 62em) {
    .header .container {
        width: calc(100% - 20px);
    }
    .header .container .menu .menu-item {
        flex-basis: 15%;
        padding: 15px 0;
    }
    .header .container .menu .menu-item .item-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .header .container .menu .menu-item .item-caption {
        display: none;
    }
    .card .card-section {
        padding: 20px;
    }
    .flex-grid .card {
        flex-basis: 100%;
    }
    .gauge {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }
    .gauge .value {
        bottom: 3em;
    }
    .gauge .label {
        bottom: 1.5em;
    }
    .status, a.status, a.status:visited {
        width: 13em;
    }
}

@media only screen and (max-width: 46em) {
    body {
        font-size: 11pt;
    }
    body.with-header {
        background-color: #fff;
    }
    .header .container .logo {
        height: 35px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .header .container .menu .menu-item.active {
        background-color: #fff;
    }
    .with-header .main .content {
        padding: 20px 0;
        width: 100%;
        border: 0;
    }
    .card {
        border: none;
        border-radius: 0;
        margin-bottom: 0;
    }
    .card:not(:first-child) {
        border-top: 1px solid #efefef;
    }
    .card .card-section {
        padding: 15px;
    }
    .status, a.status, a.status:visited {
        width: 11.5em;
        margin: 1.5em auto;
    }
    .status > img {
        width: 50px;
        height: 50px;
        padding: 7px;
    }
    .font-small {
        font-size: 9pt;
    }
    .dashboard .card .iframe-overview {
        min-height: 18em;
    }
    .dashboard .card .iframe-battery-power {
        min-height: 15em;
    }
    .dashboard .card .iframe-battery-soc {
        min-height: 12em;
    }
}