<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1"/>
    <title>{% block title %}EG4 Assistant{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
    {% block extra_head %}{% endblock %}
</head>
<body class="with-header">
    <div class="header">
        <div class="container">
            <div class="logo">EG4 Assistant</div>
            <div class="menu">
                <a href="/" class="menu-item {% if request.endpoint == 'index' %}active{% endif %}">
                    <div class="item-img dashboard"></div>
                    <span class="item-caption">Dashboard</span>
                </a>
                <a href="/charts" class="menu-item {% if request.endpoint == 'charts' %}active{% endif %}">
                    <div class="item-img chart"></div>
                    <span class="item-caption">Charts</span>
                </a>
                <a href="/totals" class="menu-item {% if request.endpoint == 'totals' %}active{% endif %}">
                    <div class="item-img totals"></div>
                    <span class="item-caption">Totals</span>
                </a>
                <a href="/power" class="menu-item {% if request.endpoint == 'power' %}active{% endif %}">
                    <div class="item-img power"></div>
                    <span class="item-caption">Power</span>
                </a>
                <a href="/configuration" class="menu-item {% if request.endpoint == 'configuration' %}active{% endif %}">
                    <div class="item-img config"></div>
                    <span class="item-caption">Configuration</span>
                </a>
            </div>
        </div>
    </div>
    <main role="main" class="main">
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </main>
    
    <script>
        // WebSocket connection
        const socket = io();
        
        socket.on('connect', function() {
            console.log('Connected to EG4 Assistant');
        });
        
        socket.on('inverter_update', function(data) {
            // Update UI with new data
            updateUI(data);
        });
        
        function updateUI(data) {
            // This will be implemented per page
            if (typeof updatePageData === 'function') {
                updatePageData(data);
            }
        }
    </script>
    {% block extra_scripts %}{% endblock %}
</body>
</html>